<h1>All the Plots</h1>
<div id='grid'>
<% @plots.each do |plot|  %>
  <section style='margin-top: <%= plot.x * 10 %>px; margin-left: <%= plot.y * 10 %>px;' >
    <p><%= plot.title %></p>
  </section>
<% end %>
</div>