<article>
</article>
<div class="modal" id="writeModal">
  <input type="text" id="plotTitle" placeholder="Title here">
  <div contenteditable id="plotContent">
    ...
  </div>
  <button id="submit">submit</button>
  <button class="close">cancel</button>
</div>
<input id="input" type="text">