<article>
</article>
<div class="modal" id="writeModal">
  <input type="text" id="plotTitle" placeholder="Title here">
  <div contenteditable id="plotContent">
    ...
  </div>
  <div id="walls" >
    <input type="checkbox" name="north_wall" id="north_wall" />
    <label for="north_wall">Block North</label>
    <input type="checkbox" name="south_wall" id="south_wall" />
    <label for="south_wall">Block South</label>
    <input type="checkbox" name="east_wall" id="east_wall" />
    <label for="east_wall">Block East</label>
    <input type="checkbox" name="west_wall" id="west_wall" />
    <label for="west_wall">Block West</label>
  </div>
  <button id="submit">submit</button>
  <button class="close">cancel</button>
</div>
<input id="input" type="text">