<article>
</article>
<input id="input" type="text">
<div class="modal" id="writeModal">
  <a href="#" class="close">x</a>
  <input type="text" id="plotTitle" value="Title here">
  <div contenteditable id="plotContent">
    Describe your scene here
  </div>
  <button id="submit">submit</button>
</div>