// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin:0;
  padding:0;
  font-size:16px;
  font-family: 'Merriweather', serif;
  font-weight:lighter;
  text-shadow: 1px 1px black;
}
body{
  background:#111;
}
article{
  margin:0 auto 0 auto;
  position:relative;
  background:#111;
  color:white;
  padding:8px;
  line-height:1.4em;
  padding-bottom: 43px;
}
aside{
  border-top:1px solid white;
}
#input, #input:focus{
  padding:8px;
  background:#111;
  color:white;
  width:100%;
  box-sizing:border-box;
  border:0;
  border-top:1px solid white;
  position:fixed;
  bottom:0;
  outline:0;
}

.hidden{
  display:none;
}

.input{
  color:#ffcccc;
}

h1{
  font-size:22px;
  display:inline-block;
}

h2{
  font-size:18px;
  display:inline-block;
  margin: 8px 0;
}

#writeModal{
  display:none;
  border: 1px solid #a9a9a9;
  background: #f6f6f6;   
  padding:7px;
  padding-top:39px;
  margin:16px;
  border-radius:4px;
  position:fixed;
  width:600px;
  height:400px;
  top: 50%;
  left: 50%;
  margin: -208px -308px;
  .close{
    text-decoration:none;
    border-radius:50%;
    border:1px solid #666;
    text-align:center;
    font-size:8px;
    line-height:0;
    width:14px;
    height:0;
    padding: 7px 0;
    vertical-align:middle;
    display:inline-block;
    background:#f0f0f0;
    margin-right:2px;
    color:#333;
    box-shadow: inset 0 0 3px;
    position:absolute;
    right:8px;
    top:8px;
  }
  #plotTitle{
    width:100%;
    padding:7px;
    background:white;
    border:1px solid #ccc;
    box-sizing:border-box;
    border-radius:2px;
    margin-bottom: 8px;
  }
  #plotContent{
    width:100%;
    padding:7px;
    background:white;
    border:1px solid #ccc;
    box-sizing:border-box;
    border-radius:2px;
    margin-bottom: 8px;
  }
  #submit{
    background:#efefef;
    border-radius:4px;
    padding:7px;
    border:1px solid #ccc;
  }
}
