// Place all the styles related to the Plots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.grid{
  padding:0;
  margin-bottom: -39px;
}
#grid-container{
  height:700px;
  overflow:scroll;
}
#grid{
  height:4000px;
  width:4000px;
  position:relative;
  background:#ccc;
  section{
    display:block;
    position: absolute;
    background:white;
    width:80px;
    height:80px;
    padding:8px;
    top:50%;
    left:50%;
    box-sizing:border-box;
    p{
      font-size:12px;
      margin-bottom:4px;
      color: #333;
      text-shadow: none;
    }
  }
}
@media all and (max-height: 700px){
  #grid-container{
    height:650px;
  }
}
@media all and (max-height: 650px){
  #grid-container{
    height:600px;
  }
}
@media all and (max-height: 600px){
  #grid-container{
    height:550px;
  }
}
@media all and (max-height: 550px){
  #grid-container{
    height:500px;
  }
}
@media all and (max-height: 500px){
  #grid-container{
    height:450px;
  }
}
@media all and (max-height: 450px){
  #grid-container{
    height:400px;
  }
}
@media all and (max-height: 400px){
  #grid-container{
    height:350px;
  }
}
@media all and (max-height: 350px){
  #grid-container{
    height:300px;
  }
}