// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_user{
  label{
    display:block;
    margin-bottom:8px;
    &[for=user_remember_me]{
      display:inline-block;
    }
  }
  input{
    display:block;
    background-color:#efefef;
    box-shadow: inset 0 0 8px;
    border: none;
    padding:8px;
    border-radius:4px;
    margin-bottom:8px;
    &[type=submit]:hover{
      background-color:grey;
    }
    &[type=checkbox]{
      display:inline-block;
    }
  }
}