<!DOCTYPE html>
<html>
<head>
  <title>The Abyss</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>The Abyss : A collaborative text adventure.</h1>
</header>
<article>
<%= yield %>
</article>
<footer>
  <a href='http://andersfisher.com'>Anders Fisher</a>
</footer>
</body>
</html>
